<div class="row">
  <div class="col-md-2">
<!-- <ds-home-discover></ds-home-discover> -->
  </div>
  <div class="col-md-8">
  <br/>
    <div class="jumbotron" style="background-color: #eee;">
      <div class="row"> 
        <div class="col-md-7">
        <h3 [innerHTML]="'home.header.msg' | translate">
         
      </h3>
              {{ 'home.news.msg' | translate}}
        </div>  
      
        <div class="col-md-5">     
          <img class="pull-right" src="/assets/images/renate_logo.png" width="200" alt="RENATE logo">
        </div>
        
        </div>
        </div>
    </div>
    </div>
